/*------------------------------------*\
    Header
\*------------------------------------*/

.header {
    width: 100%;
    border-bottom: 1px solid rgb(236, 236, 236);
    background-color: var(--white);
    @include z-index(level10);
    position: fixed;
    top: 0;
    left: 0;
    transition: var(--transition);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    transition: var(--transition);

    @include bp(small) {
        margin: 1rem 0;
    }
    @include bp(small-up) {
        padding-right: 4rem;
        padding-left: 4rem;
        margin: 0;
    }

    @include bp(medium-up) {
        padding-left: 16.5rem;
        padding-right: 16.5rem;
    }
}

// logo
.header__site-link {
    margin-top: 1.3rem;

    @include bp(small) {
        margin-top: 0.9rem;
    }
}
.header__logo {
}

// navigation
.header__nav {
}
.header__nav-list {
    display: flex;
}
.header__nav-list-item {
}
.header__nav-link {
    @include f-sm();
    margin: 0 0.5rem;

    &:hover {
        color: var(--light-grey);
        transition: var(--transition);
    }

    @include bp(small-up) {
        margin: 0 1.5rem;
    }
    @include bp(medium-up) {
        margin: 0 1.6rem;
    }
}

// cta button
.header__cta {
    .btn1-p {
        padding: 1.6rem 2rem;
    }

    @include bp(small-up) {
        padding: 1.6rem 2.4rem;
    }
    @include bp(medium) {
        padding: 1.6rem 2.8rem;
    }
}
