/*------------------------------------*\
   Body
\*------------------------------------*/

body {
    @include f-reg();
    background-color: var(--c-bg-white);
    color: var(--c-font-dark);

    &.stop-scrolling {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
