/*------------------------------------*\
  HTML
\*------------------------------------*/

html {
    font-size: 62.5%; // 1rem 10px
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--f-sans);
}
