/*------------------------------------*\
   Inputs
\*------------------------------------*/

input {
    position: relative;
    display: block;
    border: none;
    font-size: inherit;
    width: 100%;
    appearance: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
