/*------------------------------------*\
   Menu button
\*------------------------------------*/

.menu-button {
    position: absolute;
    display: block;
    width: 4.2rem;
    height: 3.6rem;
    top: 2.2rem;
    right: 2.4rem;
    pointer-events: auto;
    @include z-index(level6);

    &.is-working {
        pointer-events: none;
    }

    @include bp(small-up) {
        display: none;
    }
}

.x,
.y,
.z {
    position: absolute;
    margin: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%, 0);
    background-color: var(--c-bg-black);
    border-radius: 0;
    height: 0.1rem;
    width: 2.4rem;
    transition: var(--transition);
}

.x {
    top: 1.2rem;

    .menu-is-open & {
        top: 1.8rem;
        transform: rotate(45deg);
    }
}

// .y {
//     top: 1.8rem;

//     .menu-is-active & {
//         opacity: 0;
//     }
// }

.z {
    top: 1.8rem;

    .menu-is-open & {
        top: 1.8rem;
        transform: rotate(-45deg);
    }
}
