/*------------------------------------*\
    Load-in
    - Utility class for fading in 
    elements on scroll
\*------------------------------------*/

.load-in {
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

    &.rise {
        transform: translateY(4rem);
        opacity: 0;
    }

    &.scale {
        transform: scale(0);
    }

    &.width {
        width: 0;
    }
}

.is-visible {
    opacity: 1;
    transform: none;

    &.rise {
        opacity: 1;
        transform: none;
    }

    &.scale {
        transform: scale(1);
    }

    &.width {
        width: 100%;
    }
}
