/*------------------------------------*\
   Menu
\*------------------------------------*/

.menu {
    position: relative;
    top: 1.9rem;
    background: var(--c-bg-white);
    text-align: center;
    // opacity: 0;
    transition: var(--transition);

    &.menu-is-open {
        opacity: 1;
    }
}

.menu__inner {
    padding: 3.5rem 2.4rem;
}

.menu__list {
}

.menu__divider {
    background: var(--c-bg-grey);
    height: 0.1rem;
    width: 100%;
    margin-bottom: 2rem;
    transform: scaleX(0);
    transition: var(--transition);

    &.menu-is-open {
        transform: scaleX(1);
    }
}

.menu__list-item {
    margin-bottom: 2rem;
    overflow: hidden;
}

.menu__link {
    @include f-sm();
    transform: translateY(105%);
}

.menu--button {
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    &.menu-is-open {
        opacity: 1;
    }
}
